body {
  background-color: #1de467;
}

#container {
  display: flex;
  padding-left: 230px;
  gap: 30px;
}
.one {
  text-align: center;
  background-color: #1de467;
  color: white;
  place-items: center;
}

.box1 {
  text-align: center;
  width: 300px;
  height: 500px;
  object-fit: cover;
  background-color: white;
  border-radius: 7px;
}

img {
  width: 300px;
}

a {
  text-decoration: none;
}
button {
    width: 90%;
    height: 30px;
    color: white;
    background-color: #007bfe;
    border: none;
    border-radius: 3px;
}
