body {
    margin: 0;
    font-family: Arial, sans-serif;
}
.navbar {
    width: 1200px;
    background-color: #0182e7;
    padding: 15px;
    display: flex;
    align-items: center;
    margin: 50px;
    font-weight: bold;
    font-size: 20px;
    /* justify-content: space-evenly; */

}
.navbar .logo {
    color: white;
    font-size: 26px;
    font-weight: bold;
    margin-right: 300px;
    padding-left: 30px;
    /* padding-right: 200px; */
}
.navbar a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    padding: 8px 12px;
    border-radius: 5px;
}
.navbar a:hover, .navbar a.active {
    background-color: rgba(255, 255, 255, 0.2);
}