/* h1, h2, h3 {
    color: blue;
    background-color: tomato;
}
.head1, .head2, .head3 {
    color: red;
    background-color: yellow;
    font-size: 50px;
} */
/* #paragraph1 {
    font-size: 34px;
    color: rgb(130, 55, 55);
    background-color: black;
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 100px;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 100px;
    padding-bottom: 100px;
    border: 1px solid red;

}
#paragraph1 h1 {
    color: salmon;
    background-color: grey;
} */

div {
    background-color: rgb(198, 33, 60);
    color: white;
    margin-top: 100px;
    margin-left: 25px;
    padding-left: 20px;
    font-size: 20px;
    margin-right: 1000px;

}
body {
    background-color: rgb(10, 10, 61);
}
button {
    color: white;
    background-color: blue;
    margin-left: 20px;
    padding: 10px;
   


}
